/* useful */
.col-centered{
    float: none;
    margin: 0 auto;
    }

.padding-0{
    padding-right: 0px;
    padding-left: 0px;
}

.art-style-back-lgrey{
    background-color: #D1D1D1;
}

.art-style-back-grey{
    background-color: #7E8089;
}

.art-style-back-green{
    background-color: #C4F1BE;
}

.art-style-back-red{
    background-color: #AA272B;
}

.art-style-back-white{
    background-color: #FFFFFF;
}
/* body */
body {
    padding-top: 55px;
}

::-webkit-scrollbar { 
    display: none; 
}
 
/* about page elements */
.art-back-img-home {
    background-image: url(../img/temp.png);
    background-size:cover;
    background-repeat: no-repeat;
}

/* more useful */
.art-style-row-standard-height{
    height: 120vh;
}

.art-style-row-100-height{
    height: 100vh;
}

.art-style-row-60-height{
    height: 60vh;
}

.art-style-row-40-height{
    height: 40vh;
}

.art-style-row-30-height{
    height: 30vh;
}

.art-style-row-90-height{
    height: 90vh;
}

.art-style-row-70-height{
    height: 70vh;
}

.art-style-row-20-height{
    height: 20vh;
}

.art-style-row-210-height{
    height: 210vh;
}
    
