/* useful */
.col-centered{
    float: none;
    margin: 0 auto;
    }

.padding-0{
    padding-right: 0px;
    padding-left: 0px;
}

.art-back-grey-style{
    background-color: #969696;
}

.art-back-blue-style{
    background-color: #56CBF9;
}

.art-back-green-style{
    background-color: #5DC67D;
}

.art-back-red-style{
    background-color: #764248;
}
        
/* body */
body {
    padding-top: 55px;
}

::-webkit-scrollbar { 
    display: none; 
}
 
/* home page elements */
.art-home-img{
    width:100%;
    height: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    }

.art-parent-row-height{
    height: 120vh;
}

.art-parent-row-half-height{
    height: 60vh;
}

.art-parent-row-third-height{
    height: 40vh;
}

.art-parent-row-fourth-height{
    height: 30vh;
}
    
